<nav mat-tab-nav-bar class="d-none d-sm-flex">
  <a mat-tab-link
     *ngFor="let l of links"
     [routerLink]="l.link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{l.label | translate}}
  </a>
</nav>

<nav class="nav-responsive d-sm-none d-flex justify-content-center">
  <mat-select [placeholder]="'app.menu.users' | translate" [value]="'todos'">
    <mat-option *ngFor="let l of links"
                [value]="l"
                [routerLink]="l.link">
      {{l.label | translate}}
    </mat-option>
  </mat-select>
</nav>

<div>
  <router-outlet #o="outlet"></router-outlet>
</div>
