<div class="container-fluid">

  <div class="container-fluid row">

    <mat-form-field>
      <mat-select placeholder="Map" [(ngModel)]="selectMapKey" (selectionChange)="onMapChange($event)">
        <mat-option *ngFor="let m of mapsList" [value]="m.key">{{m.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Draw" [(ngModel)]="selectDrawKey" (selectionChange)="onDrawChange()">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let d of drawList" [value]="d.key">{{d.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;&nbsp;
  </div>


  <div id="map" class="map"></div>
  <br>
  <button mat-raised-button (click)="onDrawClear()">Clear</button>

</div>
