<div class="row">
  <clr-select-container>
    <label>Map</label>
    <select clrSelect name="options" [(ngModel)]="selectMapKey" (change)="onMapChange()" required>
      <option *ngFor="let m of mapsList" [value]="m.key">{{m.name}}</option>
    </select>
  </clr-select-container>
  &nbsp;&nbsp;
  <clr-select-container>
    <label>Draw</label>
    <select clrSelect name="options" [(ngModel)]="selectDrawKey" (change)="onDrawChange()" required>
      <option *ngFor="let d of drawList" [value]="d.key">{{d.name}}</option>
    </select>
  </clr-select-container>
  &nbsp;&nbsp;
</div>

<br>
<div id="map" class="map"></div>
<br>
<button class="btn btn-info-outline btn-sm" (click)="onDrawClear()">Clear</button>
